/*********************************
GENERAL
*********************************/

body {
  font-family: 'PT Sans', sans-serif;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}



/*********************************
HEADING
*********************************/

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'PT Sans', sans-serif;
  margin: 15px 0;
  font-size: 1.7em;
  line-height: 0.8em;
}

h2 {
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
  font-size: 0.75em;
  margin: -5px 0 0;
}

h3 {
  font-family: 'Open Sans', sans-serif;
}

#bio {
  text-align: center;
  margin: 0;
}



/*********************************
NAVIGATION
*********************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}



/*********************************
FOOTER
*********************************/

footer {
  font-size: 0.75em;
  text-align: center;
  padding-top: 50px;
  color: #ccc;
}



/*********************************
CONTACT INFORMATION
*********************************/

#contact {
  margin: 0;
  padding: 0;
  list-style: none;
}

#contact li {
  float: none;
  width: 38px;
  margin: 10px;
  background-color: #555556;
  color: #555556;
  border-width: 3px 7px 0px 3px;
  border-style: solid;
  border-radius: 50% 50% 0% 50%;

}

.infolink {
  color: #fff;
  float: left;
  margin: -25px 60px;

}



/*********************************
COLORS
*********************************/

/*  site body  */
body {
  background-color: #fff;
  color: #999;
}

/*  purple header  */
header {
  background: #52289e;
  border-color: #36068f;
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%
}

/*  nav background on mobile  */
nav {
  background:#36068f;
}

/*  logo text  */
h1, h2 {
  color: #fff
}

/*  links  */
a {
  color:#52289e;
}

/*  nav link  */
nav a, nav a:visited {
  color: #fff;
}

/*  selected nav link  */
nav a.selected, nav a:hover {
  color: #0f034d;
}
