/*********************************
GENERAL
*********************************/

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
/*  padding-top: 70px;*/
}

/*
.container {
  max-width: 1000px;
}
*/

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}



/*********************************
JUMBOTRON
*********************************/

.jumbotron {

}

.ss-title {
  text-align: center;
}



/*********************************
CAROUSEL
*********************************/

.carousel-indicators {
  bottom: 0;
}

.carousel-indicators .active {
  background-color: #222;
}

.carousel-indicators li {
   border-color: #222;
}





/*********************************
HEADING
*********************************/

#logo1 {
  font-size: 50px;
  font-weight: 700;
  color: #818285;
  text-align: center;
  margin: 0;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

#logo2 {
  font-size: 20px;
  font-style: italic;
  color: #818285;
  text-align: center;
  margin: 0;
  border-bottom: 1px solid #ddd;
  text-shadow: 1px 2px 1px #aaa;
}

h1 {
  font-family: 'PT Sans', sans-serif;
  font-style: bold;
  margin: 15px 0;
  margin: -5px 0 0;
}

h2 {
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
  font-size: 0.75em;
  margin: -5px 0 0;
}

h3 {
  font-family: 'Open Sans', sans-serif;
}

.bio {
  text-align: left;
  margin: 33px 106px;
  color: #555556;
}

.bio2 {
  text-align: center;
  color: #555556;
}


/*********************************
NAVIGATION
*********************************/

.navbar-static-top {
  margin-bottom: 19px;
  border-width: 0 0 1px;
}

/*********************************
CONTACT INFORMATION
*********************************/

.row2 {
  padding-bottom: 350px;
}

#contact {
  margin: 0;
  padding: 0 30%;
  list-style: none;
}

#contact li {
  float: none;
  width: 38px;
  margin: 10px;
}

#contact2 {
  margin: 0;
  padding: 0 12%;
  list-style: none;
}

#contact2 li {
  float: none;
  width: 38px;
  margin: 10px;
}

.infolink {
  color: #555556;
  float: left;
  margin: -25px 60px;
  min-width: 200px;
}



/*********************************
COLORS
*********************************/

/*  site body  */
body {
  background-color: #fff;
  color: #999;
}

/*  nav background on mobile  */
nav {
  background:#140460;
}

/*  logo text  */
h1, h2 {
  color: #000
}

/*  links  */
a {
  color:#345ea7;
}

/*  nav link  */
nav a, nav a:visited {
  color: #fff;
}

/*  selected nav link  */
nav a.selected, nav a:hover {
  color: #345ea7;
}



/*********************************
EXPERIENCE AND EDUCATION TIMELINE
*********************************/

.timeline {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 85px;
}

.timeline2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 85px;
}



/*********************************
SOFTWARE SKILLS
*********************************/

/*add a maxwidth to the row class and fix title...it disapears when screen gets resized*/
.row4 {
  padding-bottom: 250px;
}

#title3 {
  font-size: 35px;
  font-weight: 700;
  color: #818285;
  text-align: center;
  text-shadow: 1px 2px 1px #aaa;
  padding-bottom: 45px;
}



/*********************************
DESIGN SKILLS
*********************************/

#title4 {
  font-size: 35px;
  font-weight: 700;
  color: #818285;
  text-align: center;
  text-shadow: 1px 2px 1px #aaa;
  padding-top: 175px;
  padding-bottom: 45px;
}

/*B&W*/
.bw {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.bw:hover {
  -webkit-filter: grayscale(100%);
}



/*********************************
OTHER DESIGN SKILLS
*********************************/

.row6 {
  padding: 30% 0 0 20%;
  list-style: none;
}



/*********************************
PROFESSIONAL EXPERIENCE
*********************************/

#rbutton {
  font-size: 14px;
  float: right;
}

#dbutton {
  font-size: 14px;
  float: left;
  margin: 0 -14px;
}

#pbutton {
  font-size: 14px;
  float:right;
  margin: 0 17px;
}

#com {
  font-size: 30px;
}

#pos {
  font-size: 25px;
}

#date {
  font-size: 20px;
}

.img-logo {
  max-width: 15%;
}




/*********************************
FOOTER
*********************************/

footer {
  font-size: 12px;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #555556;
}
